<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-warning">
                <div class="container-fluid">
                    <a class="navbar-brand" href="localhost:8080/">EGG NEWS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Featured by <strong>J.B. Elias</strong>
                        </span>
                    </div>
                </div>
            </nav>
        </header>

        <h1 align="center"><strong>¡Publique su noticia!</strong></h1>

        <form action="/noticia/registro" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">TITULO:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo" placeholder="Ingrese su título aquí.">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">CUERPO DE LA NOTICIA:</label>
                <textarea type="text" class="form-control" id="exampleFormControlTextarea1" name="cuerpo" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-warning"> Subir </button>

            <div th:if="${Error != null}" class="card text-bg-danger mb-3" style="max-width: 100%;" >
                <div class="card-header" align="center">Error</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text" th:text="${Error}" align="center"></p>
                </div>
            </div>

            <div th:if="${Exito != null}" class="card text-bg-success mb-3" style="max-width: 100%;">
                <div class="card-header" align="center">¡Éxito!</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text" th:text="${Exito}" align="center"></p>
                </div>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>
