<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"></head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        
        <div class="container">
            <table class="table table-dark">
                <thead> 
                    <tr>
                        <th scope="col"><strong>Nombre del Autor</strong></th>
                        <th scope="col"><strong>Id del Autor</strong></th>
                        <th scope="col"><strong>Acciones</strong></th>
                    </tr>
                </thead>
                <tbody th:each="autor : ${autores}">
                    <tr>
                        <td th:text="${autor.nombre}"></td>
                        <th scope="row" th:text="${autor.id}"></th>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/autor/modificar/__${autor.id}__}"><i class="fas fa-feather-alt"> Modificar</i> </a>
                        </td>
                    </tr>
                </tbody>

                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mt-3 mensajeError">
                    <div class="card-body"> 
                        <h5 class="card-title">Error</h5>
                        <p class="card-text"></p>
                    </div>
                </div>

                <div th:if="${exito != null}" class="card text-white bg-succes mb-3 mt-3 mensajeExito"> 
                    <div class="card-body"> 
                        <h5 class="card-title">¡Éxito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    </body>
</html>
