<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg bg-warning" >
            <div class="container-fluid">
                <a class="navbar-brand" href="http://localhost:8080/">
                    <img src="https://eggeducacion.com/static/90ac82f00b6da76b0ad2c2821b404e20/6050d/dual_block_impacto.png" 
                         alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    BIBLIOT<strong>EGG</strong>CA
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form th:action="@{/logincheck}" method="POST">
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <p class="lead fw-normal mb-0 me-3" >Iniciar sesión</p>
                            </div>

                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0">Ingrese sus datos</p>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control form-control-lg "
                                       placeholder="Ingrese su Email" name="email" th:value="${email}"/>
                                <label class="form-label" for="form3Example3" >Email</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Ingrese su contraseña" name="password" th:value="${password}"/>
                                <label class="form-label" for="form3Example4">Contraseña</label>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label class="form-check-label" for="form2Example3">
                                        Recordarme
                                    </label>
                                </div>
                                <a href="#!" class="text-body">Olvidé mi contraseña</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a href="http://localhost:8080/registrar"
                                    class="link-danger">Registrarse</a></p>
                            </div>

                            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError"> 
                                <div class="card-body"> 
                                    <h5 class="card-title">Error</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div th:if="${exito != null}" class="card text-white bg-succes mb-3 mt-3 mensajeExito"> 
                                <div class="card-body"> 
                                    <h5 class="card-title">¡Éxito!</h5>
                                    <p class="card-text" th:text="${exito}"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div><br></div>
            <div
                class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark fixed-bottom">
                <!-- Copyright -->
                <div class="text-white mb-3 mb-md-0">
                    Copyright © 2022. All rights reserved.
                </div>
                <!-- Copyright -->

                <!-- Right -->
                <div>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <!-- Right -->
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>
