<nav class="navbar navbar-expand-lg bg-warning" >
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/">
            <img src="https://eggeducacion.com/static/90ac82f00b6da76b0ad2c2821b404e20/6050d/dual_block_impacto.png" 
                 alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            BIBLIOT<strong>EGG</strong>CA
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        LIBROS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Libros</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/libros/lista">Ver Libros</a></li>
                        <li><a class="dropdown-item" href="#">Modificar Libros</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Autores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Autores</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/autor/lista">Ver Autores</a></li>
                        <li><a class="dropdown-item" href="#">Modificar Autores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Editoriales
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Editoriales</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/editorial/lista">Ver Editoriales</a></li>
                        <li><a class="dropdown-item" href="#">Modificar Editoriales</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Usuarios</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/admin/usuarios">Panel de Usuarios</a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="/logout">Cerrar Sesión</a>
    </div>
</nav>