.navbar navbar-expand-lg bg-dark{
    background-color: white;
}
.text-white{
    background-color: white;
}
body{
    background-image: url(https://eggeducacion.com/static/888cc2dce8ff9e1b59a608fdfd9d9d72/a6c62/somos_egg_school.jpg) ;
}














