.navbar navbar-expand-lg bg-dark{
    background-color: white;
}
.text-white{
    background-color: white;
}
body{
    background-image: url(https://eggeducacion.com/static/888cc2dce8ff9e1b59a608fdfd9d9d72/a6c62/somos_egg_school.jpg) ;
    
}
/* From uiverse.io by @menezes11 */
.button {
 position: relative;
 padding: 1em 1em;
 outline: none;
 border: 1px solid #303030;
 background: #303030;
 color: #FFF40F;
 text-transform: uppercase;
 letter-spacing: 1.5px;
 font-size: 10px;
 overflow: hidden;
 transition: 0.5s;
 border-radius: 20px;
 cursor: pointer;
 font-weight: bold;
}

.button:hover {
    box-shadow: 0 0 10px #ffff00, 0 0 25px #ffff00, 0 0 50px #ffff00;
 transition-delay: 0.6s;
}

.button span {
 position: absolute;
}

.button span:nth-child(1) {
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #FFF40F);
}

.button:hover span:nth-child(1) {
 left: 100%;
 transition: 0.7s;
}

.button span:nth-child(3) {
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #FFF40F);
}

.button:hover span:nth-child(3) {
 right: 100%;
 transition: 0.7s;
 transition-delay: 0.35s;
}

.button span:nth-child(2) {
 top: -100%;
 right: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent, #FFF40F);
}

.button:hover span:nth-child(2) {
 top: 100%;
 transition: 0.7s;
 transition-delay: 0.17s;
}

.button span:nth-child(4) {
 bottom: -100%;
 left: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent, #FFF40F);
}

.button:hover span:nth-child(4) {
 bottom: 100%;
 transition: 0.7s;
 transition-delay: 0.52s;
}

.button:active {
 background: #FFF40F;
 background: linear-gradient(to top right, #FFF40F, #FFF40F);
 color: #FFF40F;
 box-shadow: 0 0 8px #FFF40F, 0 0 8px #FFF40F, 0 0 8px #FFF40F;
 transition: 0.1s;
}

.button:active span:nth-child(1) 
span:nth-child(2) 
span:nth-child(2) 
span:nth-child(2) {
 transition: none;
 transition-delay: none;
}















